.text{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(234, 200, 254);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.footer-heading{
    font-size: 20px;
    font-weight: bold;
}

#search-button{
    background-color:rgb(220, 177, 248);
    color: black;
}

#header-text{
    font-size: 50px;
    font-weight: bold ;
}

#searchInput{
    color: aliceblue;
}

input:focus {
    border-bottom: 1px solid rgb(255, 255, 255);
    box-shadow: 0 1px 0 0 rgb(255, 255, 255) !important;
  }

label.active {
    color:rgb(220, 177, 248) !important;
}


.card-image {
    background-color: black;
    position: relative;
    overflow: hidden; 
}

.card-image img {
    transition: transform 0.3s, box-shadow 0.3s; 
}

.card-image:hover img {
    transform: scale(1.1); 
    filter: brightness(60%); 
}

.card-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 5px;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.3s; 
}

.card-image:hover .card-caption {
    opacity: 1; 
}

.search-history-container {
    display: flex;
    flex-direction: column;
  }

